{% extends "base.html.twig" %}

{% block title %}Ekkitugol - Changement de mot de passe
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex justify-content-start align-items-start">
		{% include("navigation.html.twig") %}

		<div class="mx-auto mt-5 p-sm-3" style="min-width: 500px;">
			<div class="min-vh-100 flex-fill mx-auto">
				<h1 class="text-center inknut-antiqua-semibold my-5">Changer votre mot de passe</h1>
				{{ form_start(changePasswordForm) }}
				{{ form_row(changePasswordForm.currentPassword) }}
				{{ form_row(changePasswordForm.newPassword.first) }}
				{{ form_row(changePasswordForm.newPassword.second) }}

				<button type="submit" class="btn btn-success">Changer</button>
				<a href="{{ path('app_profile_index') }}" class="btn btn-secondary">Retour</a>
				{{ form_end(changePasswordForm) }}
			</div>
		</div>
	</div>

{% endblock %}
